/* amore come dolore */

html,body{
    height: 100%;
}
header{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
header h1{
	margin:0;
	line-height:90px;
	font-size:48px;
	white-space:nowrap;
	text-shadow:none;
}
header h1 a{
	color: #72d29b;
	text-decoration:none;
	-webkit-transition:color 0.15s ease-out;
}
header h1 a:hover{
	color: #FFF;
	text-decoration:none;
}
footer{
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    color: #999;
}
footer a:hover{
    color: #72d29b;
    text-decoration: none;
}
footer h4{
    font-family: 'Doppio One', 'sans-serif';
    color: #72d29b;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}
footer ul{
    list-style: none;
    padding-left: 2px;
}
body{
    background-image:url('../img/office.png');

}
#content_wrapper{
    background-image:url('../img/fabric_of_squares_gray.png');
    padding-bottom: 20px;
}
h1,h2,h3{
	font-family: 'Doppio One', 'sans-serif';
	color: #72d29b;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}
h4,h5,h6{
    color:#000;
    font-family: 'Doppio One', 'sans-serif';
}

@media (min-width: 768px) {
	.navbar{
		margin-top:20px;
	}
}

@media(max-width:786px){
	header h1{
		text-align:center;
	}
}
@media(max-width:992px){
	header h1{
		font-size:36px;
	}
}

section {
    margin-bottom: 25px;
    margin-top: 25px;
}
.hljs, nav.navbar {
    background-image: url('../img/escheresque_ste.png');
}
.navbar-inverse .navbar-nav>.active>a{
    background-color:rgba(0,0,0,0.3);
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    color: #72d29b;
    background-color:rgba(0,0,0,0.5);
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
    color: #72d29b;
}
ul.nav-stacked{
    border: 1px solid #CCC;
    border-radius: 3px;
}
ul.nav-stacked li{
    border-bottom:1px solid #CCC;
}
ul.nav-stacked li:last-child{
    border-bottom:0;
}